html, body {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    box-sizing: border-box;
}

@media (max-width: 760px) {
    .homepage img.decorative-element-icon1,
    .homepage img.decorative-element-icon6,
    .main-content .subtitle-container {
      display: none;
  }
}

.homepage {
    width: 100%;
    position: relative;
    background-color: #fff;
    /* height: 1080px; 
    this limits the page to this height, no good */
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #050505;
    font-family: 'League Spartan';
    position: relative; /* This is the reference for all absolute children */
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Prevents unwanted scrolling */
}


/* Shared styles for all decorative_elements */
.decorative-element {
    position: absolute; /* Allows positioning within .decorations-container */
    object-fit: contain;
    pointer-events: none; /* Prevents interactions */
    /* z-index: -1; Moves behind content */
}

/* Individual positioning using percentages */
.decorative-element-icon {
    top: 28%;  
    left: 0%;
    width: 76.6px;
    height: 170.5px;
    display: none;
}

.decorative-element-icon1 {
    top: 80%;
    left: 0%;
    width: 640px;
    height: 278.1px;
}

.decorative-element-icon2 {
    top: 0%;
    left: 80%;
    width: 490.2px;
    height: 213px;
}

.decorative-element-icon3 {
    top: 81%;
    left: 80%;
    width: 514.8px;
    height: 281.6px;
}

.decorative-element-icon4 {
    display: none;
    top: 52%;
    left: 96%;
    width: 94.7px;
    height: 177.8px;
}

.decorative-element-icon5 {
    top: 0%;
    left: 0%;
    width: 480px;
    height: 230px;
}

.decorative-element-icon6 {
    top: 80%;
    left: 0%;
    width: 204.9px;
    height: 244px;
}


/* 
.decorative-element-icon {
    display: none;
    position: absolute;
    top: 304px;
    left: 0px;
    width: 76.6px;
    height: 170.5px;
}
.decorative-element-icon1 {
    display: none;
    position: absolute;
    top: 802px;
    left: 0px;
    width: 640px;
    height: 278.1px;
}
.decorative-element-icon2 {
    display: none;
    position: absolute;
    top: 0px;
    left: 1430px;
    width: 490.2px;
    height: 213px;
}
.decorative-element-icon3 {
    display: none;
    position: absolute;
    top: 879.06px;
    left: 1462px;
    width: 514.8px;
    height: 281.6px;
    object-fit: contain;
}
.decorative-element-icon4 {
    display: none;
    position: absolute;
    top: 560px;
    left: 1840.91px;
    width: 94.7px;
    height: 177.8px;
    object-fit: contain;
}

.decorative-element-icon6  {
    display:none;
    position: absolute;
    top: 802px;
    left: 0px;
    width: 204.9px;
    height: 244px;
}
.decorative-element-icon5 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 480px;
    height: 230px;
} */
.soluciones1 {
    position: relative;
    line-height: 18px;
    font-weight: 500;
}
.soluciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 8px;
}
.title {
    /* flex: 1; */
    /* position: relative; */
    line-height: 90px;
    white-space: pre-wrap;
}
.title-container {
    /* width: 1236px; */
    display: flex;
    margin-top: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
}
.subtitle {
    /* position: relative; */
    line-height: 46px;
    white-space: pre-wrap;
}
.subtitle-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 36px;
    align-content: center;
}
.main-content {
    /* position: relative; */
    top: 264px;
    left: calc(50% - 618px);
    /* width: 1236px; */
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    text-align: center;
    font-size: 90px;
    font-family: 'DM Serif Text';
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.default {
    position: relative;
    line-height: 20px;
}
.large-buttons {
    /* position: absolute; */
    top: 774px;
    left: 758px;
    border-radius: 24px;
    background-color: #050505;
    width: 220px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}
.default1 {
    position: relative;
    line-height: 20px;
}
.medium-buttons {
    /* position: absolute; */
    top: 774px;
    left: 1002px;
    border-radius: 16px;
    border: 1px solid #050505;
    box-sizing: border-box;
    width: 160px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    color: #050505;
}

.buttons {
    display: flex;
    gap: 0.3em;
}