body {
    margin: 0;
    line-height: normal;
}

.decorative-element-icon {
    position: absolute;
    top: 802px;
    left: 0px;
    width: 640px;
    height: 278.1px;
}
.decorative-element-icon1 {
    position: absolute;
    top: 879.07px;
    left: 1462px;
    width: 514.8px;
    height: 281.6px;
    object-fit: contain;
}
.decorative-element-icon2 {
    position: absolute;
    top: 560px;
    left: 1840.91px;
    width: 94.7px;
    height: 177.8px;
    object-fit: contain;
}
.decorative-element-icon3 {
    position: absolute;
    top: 802px;
    left: 0px;
    width: 204.9px;
    height: 244px;
}
.title {
    flex: 1;
    position: relative;
    line-height: 90px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #050505;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-container {
    width: 1236px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
}
.subtitle {
    width: 1214px;
    position: relative;
    line-height: 46px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #050505;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.subtitle-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 36px;
}
.main-content {
    position: absolute;
    top: 264px;
    left: calc(50% - 618px);
    width: 1236px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    text-align: center;
}
.default {
    position: relative;
    line-height: 20px;
}
.large-buttons {
    position: absolute;
    top: 774px;
    left: 758px;
    border-radius: 24px;
    background-color: #643366;
    width: 220px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    font-family: 'League Spartan';
}
.default1 {
    position: relative;
    line-height: 18px;
}
.medium-buttons {
    position: absolute;
    top: 774px;
    left: 1002px;
    border-radius: 16px;
    border: 1px solid #643366;
    box-sizing: border-box;
    width: 160px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    color: #643366;
    font-family: 'League Spartan';
}
.uxvault-logo-icon {
    width: 24px;
    position: relative;
    height: 24px;
}
.uxvault {
    position: relative;
    line-height: 38px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #050505;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.uxvault-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.soluciones1 {
    position: relative;
    line-height: 18px;
    font-weight: 500;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #050505;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.outlined-iconsarrow-down {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.soluciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 8px;
}
.men-de-navegacin {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    font-size: 16px;
    font-family: 'League Spartan';
}
.header-versin-light {
    position: absolute;
    top: 0px;
    left: calc(50% - 960px);
    background-color: #fff;
    width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    box-sizing: border-box;
    gap: 320px;
    font-size: 28px;
}
.homepage {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 90px;
    color: #fff;
    font-family: 'DM Serif Text';
}
