<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gazpacho:wght@900&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League Spartan:wght@400;500;600;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Serif Text:wght@400&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="frame-parent">
    		<div class="botones-wrapper">
      			<div class="botones">Botones</div>
    		</div>
    		<div class="extra-large-buttons-parent">
      			<div class="extra-large-buttons">
        				<div class="primary-buttonsdefault">
          					<b class="default">Default</b>
        				</div>
        				<div class="primary-buttonshover">
          					<b class="default">Hover</b>
        				</div>
        				<div class="primary-buttonspressed">
          					<b class="default">Pressed</b>
        				</div>
        				<div class="primary-buttonsdisabled">
          					<b class="default">Disabled</b>
        				</div>
      			</div>
      			<div class="large-buttons">
        				<div class="property-1default">
          					<b class="default1">Default</b>
        				</div>
        				<div class="property-1hover">
          					<b class="default1">Hover</b>
        				</div>
        				<div class="property-1pressed">
          					<b class="default1">Pressed</b>
        				</div>
        				<div class="property-1disabled">
          					<b class="default1">Disabled</b>
        				</div>
      			</div>
      			<div class="medium-buttons">
        				<div class="property-1default1">
          					<b class="div">Default</b>
        				</div>
        				<div class="property-1hover1">
          					<b class="div">Hover</b>
        				</div>
        				<div class="property-1pressed1">
          					<b class="div">Pressed</b>
        				</div>
        				<div class="property-1disabled1">
          					<b class="div">Disabled</b>
        				</div>
      			</div>
      			<div class="small-buttons">
        				<div class="property-1default1">
          					<b class="div">Default</b>
        				</div>
        				<div class="property-1hover1">
          					<b class="div">Hover</b>
        				</div>
        				<div class="property-1pressed2">
          					<b class="div">Pressed</b>
        				</div>
        				<div class="property-1disabled1">
          					<b class="div">Disabled</b>
        				</div>
      			</div>
    		</div>
    		<div class="primary">primary</div>
    		<div class="secondary">secondary</div>
    		<div class="tertiary">tertiary</div>
    		<div class="links">links</div>
    		<div class="inputs-wrapper">
      			<div class="botones">Inputs</div>
    		</div>
    		<div class="frame-group">
      			<div class="text-wrapper">
        				<div class="text">Default</div>
      			</div>
      			<div class="text-wrapper">
        				<div class="text">Pressed</div>
      			</div>
      			<div class="text-wrapper">
        				<div class="text">Active</div>
      			</div>
      			<div class="text-wrapper">
        				<div class="text">Disabled</div>
      			</div>
      			<div class="text-wrapper">
        				<div class="text">Success</div>
      			</div>
      			<div class="text-wrapper">
        				<div class="text">Warning</div>
      			</div>
      			<div class="text-wrapper">
        				<div class="text">Error</div>
      			</div>
      			<div class="text-wrapper">
        				<div class="text">Information</div>
      			</div>
    		</div>
    		<div class="frame-container">
      			<div class="frame-parent1">
        				<div class="text-wrapper">
          					<div class="text">Default</div>
        				</div>
        				<div class="text-wrapper">
          					<div class="text">Information</div>
        				</div>
      			</div>
      			<div class="frame-parent2">
        				<div class="text-wrapper">
          					<div class="text">Success</div>
        				</div>
        				<div class="text-wrapper">
          					<div class="text">Warning</div>
        				</div>
        				<div class="text-wrapper">
          					<div class="text">Error</div>
        				</div>
      			</div>
    		</div>
    		<div class="frame-parent3">
      			<div class="text-wrapper">
        				<div class="text">Contraseña visible</div>
      			</div>
      			<div class="text-wrapper">
        				<div class="text">Contraseña no visible</div>
      			</div>
      			<div class="text-wrapper">
        				<div class="text">Contraseña incorrecta</div>
      			</div>
      			<div class="text-wrapper">
        				<div class="text">Contraseña (recordar datos)</div>
      			</div>
      			<div class="text-wrapper">
        				<div class="text">Contraseña no visible (recordar datos)</div>
      			</div>
    		</div>
    		<div class="input-form">
      			<div class="property-1default3">
        				<div class="text-wrapper15">
          					<div class="o-usa-una">Text</div>
        				</div>
        				<div class="filled-iconscheck-on-parent">
          					<img class="filled-iconscheck-on" alt="" src="filled icons/check on.svg">
          					
          					<div class="uxvault-wrapper">
            						<div class="default1">Text</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1pressed3">
        				<div class="text-wrapper17">
          					<div class="o-usa-una">Text</div>
        				</div>
        				<div class="filled-iconscheck-on-parent">
          					<img class="filled-iconscheck-on" alt="" src="filled icons/check on.svg">
          					
          					<div class="uxvault-wrapper">
            						<div class="default1">Text</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1active">
        				<div class="text-wrapper19">
          					<div class="o-usa-una">Text</div>
        				</div>
        				<div class="filled-iconscheck-on-parent">
          					<img class="filled-iconscheck-on" alt="" src="filled icons/check on.svg">
          					
          					<div class="uxvault-wrapper">
            						<div class="default1">Text</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1disabled3">
        				<div class="text-wrapper21">
          					<div class="o-usa-una">Text</div>
        				</div>
        				<div class="filled-iconsinformation-parent">
          					<img class="filled-iconscheck-on" alt="" src="filled icons/information.svg">
          					
          					<div class="uxvault-wrapper">
            						<div class="default1">Text</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1success">
        				<div class="text-wrapper23">
          					<div class="o-usa-una">Text</div>
        				</div>
        				<div class="filled-iconssuccess-parent">
          					<img class="filled-iconscheck-on" alt="" src="filled icons/success.svg">
          					
          					<div class="uxvault-wrapper">
            						<div class="default1">Text</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1warning">
        				<div class="text-wrapper25">
          					<div class="o-usa-una">Text</div>
        				</div>
        				<div class="filled-iconswarning-parent">
          					<img class="filled-iconscheck-on" alt="" src="filled icons/warning.svg">
          					
          					<div class="uxvault-wrapper">
            						<div class="default1">Text</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1error">
        				<div class="text-wrapper27">
          					<div class="o-usa-una">Text</div>
        				</div>
        				<div class="filled-iconserror-parent">
          					<img class="filled-iconscheck-on" alt="" src="filled icons/error.svg">
          					
          					<div class="uxvault-wrapper">
            						<div class="default1">Text</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1information">
        				<div class="text-wrapper29">
          					<div class="o-usa-una">Text</div>
        				</div>
        				<div class="filled-iconsinformation-group">
          					<img class="filled-iconscheck-on" alt="" src="filled icons/information.svg">
          					
          					<div class="uxvault-wrapper">
            						<div class="default1">Text</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="input-password">
      			<div class="property-1contrasea-visible">
        				<div class="text-parent">
          					<div class="text34">Text</div>
          					<img class="filled-iconscheck-on" alt="" src="filled icons/visibility on.svg">
          					
        				</div>
        				<div class="property-1contrasea-visible-inner">
          					<div class="uxvault-wrapper">
            						<div class="text35">Text</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1no-visible">
        				<div class="text-parent">
          					<div class="text34">Text</div>
          					<img class="filled-iconscheck-on" alt="" src="filled icons/visibility off.svg">
          					
        				</div>
        				<div class="property-1contrasea-visible-inner">
          					<div class="uxvault-wrapper">
            						<div class="text35">Text</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1incorrecta">
        				<div class="text-parent1">
          					<div class="text34">Text</div>
          					<img class="filled-iconscheck-on" alt="" src="filled icons/visibility on.svg">
          					
        				</div>
        				<div class="property-1incorrecta-inner">
          					<div class="filled-iconserror-group">
            						<img class="filled-iconscheck-on" alt="" src="filled icons/error.svg">
            						
            						<div class="default1">Text</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1contrasea-recorda">
        				<div class="text-parent">
          					<div class="text34">Text</div>
          					<img class="filled-iconscheck-on" alt="" src="filled icons/visibility on.svg">
          					
        				</div>
        				<div class="property-1contrasea-recorda-inner">
          					<div class="filled-iconserror-group">
            						<img class="filled-iconscheck-on" alt="" src="filled icons/check on.svg">
            						
            						<div class="default1">Text</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1contrasea-no-visib">
        				<div class="text-parent">
          					<div class="text34">Text</div>
          					<img class="filled-iconscheck-on" alt="" src="filled icons/visibility off.svg">
          					
        				</div>
        				<div class="property-1contrasea-recorda-inner">
          					<div class="filled-iconserror-group">
            						<img class="filled-iconscheck-on" alt="" src="filled icons/check on.svg">
            						
            						<div class="default1">Text</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="input-newslater">
      			<div class="property-1default4">
        				<div class="frame-parent4">
          					<div class="frame-wrapper">
            						<div class="text-wrapper15">
              							<div class="o-usa-una">Text</div>
            						</div>
          					</div>
          					<div class="small-buttons1">
            						<b class="div">Pressed</b>
          					</div>
        				</div>
      			</div>
      			<div class="property-1success1">
        				<div class="frame-parent4">
          					<div class="frame-wrapper">
            						<div class="text-wrapper23">
              							<div class="o-usa-una">Text</div>
            						</div>
          					</div>
          					<div class="small-buttons1">
            						<b class="div">Pressed</b>
          					</div>
        				</div>
        				<div class="filled-iconssuccess-group">
          					<img class="filled-iconscheck-on" alt="" src="filled icons/success.svg">
          					
          					<div class="default1">Text</div>
        				</div>
      			</div>
      			<div class="property-1warning1">
        				<div class="frame-parent4">
          					<div class="frame-wrapper">
            						<div class="text-wrapper25">
              							<div class="o-usa-una">Text</div>
            						</div>
          					</div>
          					<div class="small-buttons1">
            						<b class="div">Pressed</b>
          					</div>
        				</div>
        				<div class="filled-iconswarning-group">
          					<img class="filled-iconscheck-on" alt="" src="filled icons/warning.svg">
          					
          					<div class="default1">Text</div>
        				</div>
      			</div>
      			<div class="property-1error1">
        				<div class="frame-parent4">
          					<div class="frame-wrapper">
            						<div class="text-wrapper27">
              							<div class="o-usa-una">Text</div>
            						</div>
          					</div>
          					<div class="small-buttons1">
            						<b class="div">Pressed</b>
          					</div>
        				</div>
        				<div class="filled-iconsinformation-container">
          					<img class="filled-iconscheck-on" alt="" src="filled icons/information.svg">
          					
          					<div class="default1">Text</div>
        				</div>
      			</div>
      			<div class="property-1information1">
        				<div class="frame-parent4">
          					<div class="frame-wrapper">
            						<div class="text-wrapper29">
              							<div class="o-usa-una">Text</div>
            						</div>
          					</div>
          					<div class="small-buttons1">
            						<b class="div">Pressed</b>
          					</div>
        				</div>
        				<div class="filled-iconsinformation-parent1">
          					<img class="filled-iconscheck-on" alt="" src="filled icons/information.svg">
          					
          					<div class="default1">Text</div>
        				</div>
      			</div>
    		</div>
    		<div class="header-versin-light">
      			<div class="property-1header">
        				<div class="logo">
          					<img class="uxvault-logo-icon" alt="" src="ux.vault logo.svg">
          					
          					<div class="uxvault-wrapper">
            						<div class="uxvault">ux.vault</div>
          					</div>
        				</div>
        				<div class="men-de-navegacin">
          					<div class="filled-iconserror-group">
            						<div class="soluciones1">Soluciones</div>
            						<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
            						
          					</div>
          					<div class="filled-iconserror-group">
            						<div class="soluciones1">Equipo</div>
            						<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
            						
          					</div>
          					<div class="filled-iconserror-group">
            						<div class="soluciones1">Comunidad</div>
            						<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
            						
          					</div>
          					<div class="filled-iconserror-group">
            						<div class="soluciones1">Recursos</div>
            						<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
            						
          					</div>
        				</div>
        				<div class="botones-de-ingreso">
          					<div class="small-buttons6">
            						<b class="div">Inicia sesión</b>
          					</div>
          					<div class="small-buttons7">
            						<b class="div">Regístrate</b>
          					</div>
        				</div>
      			</div>
      			<div class="property-1soluciones-menu">
        				<div class="header-simple-black-background">
          					<div class="logo">
            						<img class="uxvault-logo-icon" alt="" src="ux.vault logo.svg">
            						
            						<div class="uxvault-wrapper">
              							<div class="uxvault">ux.vault</div>
            						</div>
          					</div>
          					<div class="men-de-navegacin">
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Soluciones</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Equipo</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Comunidad</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Recursos</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
          					</div>
          					<div class="botones-de-ingreso">
            						<div class="small-buttons6">
              							<b class="div">Inicia sesión</b>
            						</div>
            						<div class="small-buttons7">
              							<b class="div">Regístrate</b>
            						</div>
          					</div>
        				</div>
        				<div class="open-menu">
          					<img class="union-icon" alt="" src="Union.svg">
          					
          					<div class="opciones-de-soluciones">
            						<div class="card-sorting">
              							<div class="list-item">Card sorting</div>
            						</div>
            						<div class="card-sorting">
              							<div class="list-item">Dendograma</div>
            						</div>
            						<div class="matriz-de-similitud">
              							<div class="list-item">Matriz de similitud</div>
            						</div>
            						<div class="arquitectura-de-la-informacin">
              							<div class="list-item">
                								<p class="arquitectura">Arquitectura </p>
                								<p class="arquitectura">de la información</p>
              							</div>
            						</div>
            						<div class="arquitectura-de-la-informacin">
              							<div class="list-item">Flujo de usuario</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1equipo-menu">
        				<div class="header-simple-black-background">
          					<div class="logo">
            						<img class="uxvault-logo-icon" alt="" src="ux.vault logo.svg">
            						
            						<div class="uxvault-wrapper">
              							<div class="uxvault">ux.vault</div>
            						</div>
          					</div>
          					<div class="men-de-navegacin">
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Soluciones</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Equipo</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Comunidad</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Recursos</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
          					</div>
          					<div class="botones-de-ingreso">
            						<div class="small-buttons6">
              							<b class="div">Inicia sesión</b>
            						</div>
            						<div class="small-buttons11">
              							<b class="div">Regístrate</b>
            						</div>
          					</div>
        				</div>
        				<div class="open-menu">
          					<img class="union-icon" alt="" src="Union.svg">
          					
          					<div class="opciones-de-equipo">
            						<div class="card-sorting">
              							<div class="list-item">Sobre nosotros</div>
            						</div>
            						<div class="card-sorting">
              							<div class="list-item">Contáctanos</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1comunidad-menu">
        				<div class="header-simple-black-background">
          					<div class="logo">
            						<img class="uxvault-logo-icon" alt="" src="ux.vault logo.svg">
            						
            						<div class="uxvault-wrapper">
              							<div class="uxvault">ux.vault</div>
            						</div>
          					</div>
          					<div class="men-de-navegacin">
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Soluciones</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Equipo</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Comunidad</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Recursos</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
          					</div>
          					<div class="botones-de-ingreso">
            						<div class="small-buttons6">
              							<b class="div">Inicia sesión</b>
            						</div>
            						<div class="small-buttons7">
              							<b class="div">Regístrate</b>
            						</div>
          					</div>
        				</div>
        				<div class="open-menu">
          					<img class="union-icon" alt="" src="Union.svg">
          					
          					<div class="opciones-de-comunidad">
            						<div class="card-sorting">
              							<div class="list-item">Contribuir al proyecto</div>
            						</div>
            						<div class="card-sorting">
              							<div class="list-item">GitHub repositorio</div>
            						</div>
            						<div class="matriz-de-similitud">
              							<div class="list-item">Unirse a Discord</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1recursos-menu">
        				<div class="header-simple-black-background">
          					<div class="logo">
            						<img class="uxvault-logo-icon" alt="" src="ux.vault logo.svg">
            						
            						<div class="uxvault-wrapper">
              							<div class="uxvault">ux.vault</div>
            						</div>
          					</div>
          					<div class="men-de-navegacin">
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Soluciones</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Equipo</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Comunidad</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
            						<div class="filled-iconserror-group">
              							<div class="soluciones1">Recursos</div>
              							<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
              							
            						</div>
          					</div>
          					<div class="botones-de-ingreso">
            						<div class="small-buttons6">
              							<b class="div">Inicia sesión</b>
            						</div>
            						<div class="small-buttons11">
              							<b class="div">Regístrate</b>
            						</div>
          					</div>
        				</div>
        				<div class="open-menu">
          					<img class="union-icon" alt="" src="Union.svg">
          					
          					<div class="opciones-de-recursos">
            						<div class="card-sorting">
              							<div class="list-item">Documentación</div>
            						</div>
            						<div class="card-sorting">
              							<div class="list-item">Preguntas frecuentes</div>
            						</div>
            						<div class="matriz-de-similitud">
              							<div class="list-item">Centro de ayuda</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="header-versin-lightdescripci">
      			<div class="caja">
        				<div class="descripcin-sobre-el">descripción sobre el usuario</div>
      			</div>
      			<div class="lmite-de-caracteres">
        				<div class="div">500/500</div>
      			</div>
    		</div>
    		<div class="logo5">
      			<img class="uxvault-logo-icon" alt="" src="ux.vault logo.svg">
      			
      			<div class="uxvault-wrapper">
        				<div class="uxvault">ux.vault</div>
      			</div>
    		</div>
    		<div class="footer-links">
      			<div class="property-1espaol">
        				<div class="frame-parent9">
          					<div class="uxvault-wrapper">
            						<div class="solutions">Soluciones</div>
          					</div>
          					<div class="frame-parent10">
            						<div class="uxvault-wrapper">
              							<div class="list-item12">Card sorting</div>
            						</div>
            						<div class="uxvault-wrapper">
              							<div class="list-item12">Dendograma</div>
            						</div>
            						<div class="uxvault-wrapper">
              							<div class="list-item12">Matriz de similitud</div>
            						</div>
          					</div>
        				</div>
        				<div class="frame-parent11">
          					<div class="uxvault-wrapper">
            						<div class="solutions">Equipo</div>
          					</div>
          					<div class="frame-parent10">
            						<div class="text-wrapper">
              							<div class="list-item12">Sobre nosotros</div>
            						</div>
            						<div class="uxvault-wrapper">
              							<div class="list-item12">Contáctanos</div>
            						</div>
          					</div>
        				</div>
        				<div class="frame-parent13">
          					<div class="uxvault-wrapper">
            						<div class="solutions">Comunidad</div>
          					</div>
          					<div class="frame-parent10">
            						<div class="text-wrapper">
              							<div class="list-item12">Contribuir al proyecto</div>
            						</div>
            						<div class="uxvault-wrapper">
              							<div class="list-item12">GitHub repositorio</div>
            						</div>
            						<div class="uxvault-wrapper">
              							<div class="list-item12">Unirse a Discord</div>
            						</div>
          					</div>
        				</div>
        				<div class="frame-parent15">
          					<div class="uxvault-wrapper">
            						<div class="solutions">Recursos</div>
          					</div>
          					<div class="frame-parent10">
            						<div class="uxvault-wrapper">
              							<div class="list-item12">Documentación</div>
            						</div>
            						<div class="uxvault-wrapper">
              							<div class="list-item12">FAQs</div>
            						</div>
            						<div class="text-wrapper">
              							<div class="list-item12">Centro de ayuda</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div class="property-1ingls">
        				<div class="frame-parent9">
          					<div class="uxvault-wrapper">
            						<div class="solutions">Solutions</div>
          					</div>
          					<div class="frame-parent10">
            						<div class="uxvault-wrapper">
              							<div class="list-item12">Card sorting</div>
            						</div>
            						<div class="uxvault-wrapper">
              							<div class="list-item12">Dendogram</div>
            						</div>
            						<div class="uxvault-wrapper">
              							<div class="list-item12">Similarity matrix</div>
            						</div>
          					</div>
        				</div>
        				<div class="frame-parent11">
          					<div class="uxvault-wrapper">
            						<div class="solutions">Team</div>
          					</div>
          					<div class="frame-parent10">
            						<div class="matriz-de-similitud">
              							<div class="list-item12">About us</div>
            						</div>
            						<div class="uxvault-wrapper">
              							<div class="list-item12">Contact us</div>
            						</div>
          					</div>
        				</div>
        				<div class="frame-parent13">
          					<div class="uxvault-wrapper">
            						<div class="solutions">Community</div>
          					</div>
          					<div class="frame-parent22">
            						<div class="matriz-de-similitud">
              							<div class="list-item12">Project contribution</div>
            						</div>
            						<div class="uxvault-wrapper">
              							<div class="list-item12">GitHub repository</div>
            						</div>
            						<div class="uxvault-wrapper">
              							<div class="list-item12">Join to Discord</div>
            						</div>
          					</div>
        				</div>
        				<div class="frame-parent15">
          					<div class="uxvault-wrapper">
            						<div class="solutions">Resources</div>
          					</div>
          					<div class="frame-parent10">
            						<div class="uxvault-wrapper">
              							<div class="list-item12">Documentation</div>
            						</div>
            						<div class="uxvault-wrapper">
              							<div class="list-item12">FAQs</div>
            						</div>
            						<div class="matriz-de-similitud">
              							<div class="list-item12">Help center</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="newslater-input">
      			<div class="property-1espaol1">
        				<div class="frame-parent25">
          					<div class="uxvault-wrapper">
            						<div class="suscrbete-a-nuestro">Suscríbete a nuestro blog</div>
          					</div>
          					<div class="mantente-al-da-sobre-las-noti-wrapper">
            						<div class="mantente-al-da-container">
              							<span>Mantente al día sobre las noticias de </span>
              							<b>ux.vault</b>
            						</div>
          					</div>
        				</div>
        				<div class="input-send-info">
          					<div class="frame-wrapper">
            						<div class="text-wrapper15">
              							<div class="o-usa-una">Correo electrónico</div>
            						</div>
          					</div>
          					<div class="small-buttons1">
            						<b class="div">Suscribirse</b>
          					</div>
        				</div>
      			</div>
      			<div class="property-1ingls1">
        				<div class="frame-parent25">
          					<div class="uxvault-wrapper">
            						<div class="suscrbete-a-nuestro">Subscribe to our blog</div>
          					</div>
          					<div class="mantente-al-da-sobre-las-noti-wrapper">
            						<div class="stay-up-to">Stay up to date with the latest news from ux.vault.</div>
          					</div>
        				</div>
        				<div class="input-send-info">
          					<div class="frame-wrapper">
            						<div class="text-wrapper15">
              							<div class="o-usa-una">E-mail</div>
            						</div>
          					</div>
          					<div class="small-buttons1">
            						<b class="div">Subscribe</b>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="footer-info">
      			<div class="property-1espaol2">
        				<div class="frame-parent27">
          					<div class="uxvault-wrapper">
            						<div class="uxvault-app-todos">ux.vault APP. Todos los derechos reservados.</div>
          					</div>
          					<div class="uxvault-wrapper">
            						<div class="uxvault-app-todos">Política de privacidad</div>
          					</div>
          					<div class="uxvault-wrapper">
            						<div class="uxvault-app-todos">Términos y Condiciones</div>
          					</div>
        				</div>
        				<div class="social-media-iconsdiscord-parent">
          					<img class="social-media-iconsdiscord" alt="" src="social media icons/discord.svg">
          					
          					<img class="social-media-iconsslack" alt="" src="social media icons/slack.svg">
          					
          					<img class="social-media-iconsmedium" alt="" src="social media icons/medium.svg">
          					
          					<img class="uxvault-logo-icon" alt="" src="social media icons/instagram.svg">
          					
        				</div>
      			</div>
      			<div class="property-1ingls2">
        				<div class="frame-parent27">
          					<div class="uxvault-wrapper">
            						<div class="uxvault-app-todos">ux.vault APP. All rights reserved.</div>
          					</div>
          					<div class="uxvault-wrapper">
            						<div class="uxvault-app-todos">Privacy politics</div>
          					</div>
          					<div class="uxvault-wrapper">
            						<div class="uxvault-app-todos">Terms and Conditions</div>
          					</div>
        				</div>
        				<div class="social-media-iconsdiscord-parent">
          					<img class="social-media-iconsdiscord" alt="" src="social media icons/discord.svg">
          					
          					<img class="social-media-iconsslack" alt="" src="social media icons/slack.svg">
          					
          					<img class="social-media-iconsmedium" alt="" src="social media icons/medium.svg">
          					
          					<img class="uxvault-logo-icon" alt="" src="social media icons/instagram.svg">
          					
        				</div>
      			</div>
    		</div>
    		<div class="log-in-sign-up-divider">
      			<div class="log-in-sign-up-divider-child">
      			</div>
      			<div class="o-usa-una">o usa una de estas opciones</div>
      			<div class="log-in-sign-up-divider-child">
      			</div>
    		</div>
    		<div class="header-wrapper">
      			<div class="botones">Header</div>
    		</div>
    		<div class="footer-wrapper">
      			<div class="botones">Footer</div>
    		</div>
    		<div class="dividers-wrapper">
      			<div class="botones">dividers</div>
    		</div>
    		<div class="call-to-action-wrapper">
      			<div class="botones">Call to action</div>
    		</div>
    		<div class="google-button">
      			<div class="property-1default5">
        				<img class="filled-iconscheck-on" alt="" src="social media icons/google.svg">
        				
        				<div class="default-wrapper">
          					<b class="default">Default</b>
        				</div>
      			</div>
      			<div class="property-1hover3">
        				<img class="filled-iconscheck-on" alt="" src="social media icons/google.svg">
        				
        				<div class="default-wrapper">
          					<b class="default">Hover</b>
        				</div>
      			</div>
      			<div class="property-1pressed4">
        				<img class="filled-iconscheck-on" alt="" src="social media icons/google.svg">
        				
        				<div class="pressed-wrapper">
          					<b class="default">Pressed</b>
        				</div>
      			</div>
      			<div class="property-1disabled4">
        				<img class="filled-iconscheck-on" alt="" src="social media icons/google.svg">
        				
        				<div class="default-wrapper">
          					<b class="default">Disabled</b>
        				</div>
      			</div>
    		</div>
    		<div class="apple-button">
      			<div class="property-1default6">
        				<img class="filled-iconscheck-on" alt="" src="social media icons/apple.svg">
        				
        				<div class="uxvault-wrapper">
          					<b class="default">Default</b>
        				</div>
      			</div>
      			<div class="property-1hover4">
        				<img class="filled-iconscheck-on" alt="" src="social media icons/apple.svg">
        				
        				<div class="uxvault-wrapper">
          					<b class="default">Hover</b>
        				</div>
      			</div>
      			<div class="property-1pressed5">
        				<img class="filled-iconscheck-on" alt="" src="social media icons/apple.svg">
        				
        				<div class="uxvault-wrapper">
          					<b class="default">Pressed</b>
        				</div>
      			</div>
      			<div class="property-1disabled5">
        				<img class="filled-iconscheck-on" alt="" src="social media icons/apple.svg">
        				
        				<div class="uxvault-wrapper">
          					<b class="default">Disabled</b>
        				</div>
      			</div>
    		</div>
    		<div class="empty-icon-button">
      			<div class="property-1default7">
        				<img class="filled-iconscheck-on" alt="" src="social media icons/apple.svg">
        				
        				<div class="uxvault-wrapper">
          					<b class="default">Default</b>
        				</div>
      			</div>
      			<div class="property-1hover5">
        				<img class="filled-iconscheck-on" alt="" src="social media icons/apple.svg">
        				
        				<div class="uxvault-wrapper">
          					<b class="default">Hover</b>
        				</div>
      			</div>
      			<div class="property-1pressed6">
        				<img class="filled-iconscheck-on" alt="" src="social media icons/apple.svg">
        				
        				<div class="uxvault-wrapper">
          					<b class="default">Pressed</b>
        				</div>
      			</div>
      			<div class="property-1disabled6">
        				<img class="filled-iconscheck-on" alt="" src="social media icons/apple.svg">
        				
        				<div class="uxvault-wrapper">
          					<b class="default">Disabled</b>
        				</div>
      			</div>
    		</div>
    		<div class="selectores-wrapper">
      			<div class="botones">selectores</div>
    		</div>
    		<div class="selectordrop-down-default">
      			<div class="property-1default8">
        				<div class="text55">Text</div>
        				<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
        				
      			</div>
      			<div class="property-1pressed7">
        				<div class="text55">Text</div>
        				<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
        				
      			</div>
      			<div class="property-1disabled7">
        				<div class="div">Text</div>
        				<img class="filled-iconscheck-on" alt="" src="outlined icons/arrow_down.svg">
        				
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>