.solutions {
    position: relative;
    line-height: 24px;
}
.solutions-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.list-item {
    position: relative;
    line-height: 30px;
}
.frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    color: #4b5563;
    font-family: 'League Spartan';
}
.frame-parent {
    width: 191px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.list-item-link-our-team-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
}
.frame-container {
    width: 127px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    color: #4b5563;
    font-family: 'League Spartan';
}
.frame-parent1 {
    width: 178px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent3 {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.footer-links {
    position: absolute;
    top: 120px;
    left: 876px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 64px;
    color: #643366;
}
.uxvault-logo-icon {
    width: 24px;
    position: relative;
    height: 24px;
}
.uxvault {
    position: relative;
    line-height: 38px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #050505;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo {
    position: absolute;
    top: 112px;
    left: 144px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 28px;
}
.subscribe-to-our {
    position: relative;
    line-height: 28px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #050505;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.stay-up-to {
    width: 495px;
    position: relative;
    line-height: 36px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #050505;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.stay-up-to-date-with-the-lates-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    font-family: 'League Spartan';
}
.frame-parent5 {
    width: 516px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.text {
    position: relative;
    line-height: 22px;
}
.text-wrapper {
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #643366;
    box-sizing: border-box;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
}
.frame-wrapper {
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.pressed {
    position: relative;
    line-height: 18px;
}
.small-buttons {
    width: 120px;
    border-radius: 16px;
    background-color: #4d2854;
    border: 1px solid #4d2854;
    box-sizing: border-box;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    text-align: left;
    font-size: 16px;
    color: #fff;
}
.frame-parent6 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.input-newslater {
    width: 584px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-family: 'League Spartan';
}
.newslater-input {
    position: absolute;
    top: 701px;
    left: calc(50% - 599.5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    font-size: 22px;
}
.uxvault-app-all {
    position: relative;
    line-height: 28px;
}
.frame-parent7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 56px;
}
.social-media-iconsdiscord {
    width: 24px;
    position: relative;
    height: 18.3px;
}
.social-media-iconsslack {
    width: 24px;
    position: relative;
    height: 20px;
}
.social-media-iconsmedium {
    width: 24px;
    position: relative;
    height: 13.7px;
}
.social-media-iconsdiscord-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.footer-info {
    position: absolute;
    top: 920px;
    left: calc(50% - 880px);
    width: 1761px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 985px;
    font-size: 16px;
    font-family: 'League Spartan';
}
.header-divider-icon {
    position: absolute;
    top: 880px;
    left: calc(50% - 960px);
    max-height: 100%;
    width: 1920px;
}
.footer-child {
    position: absolute;
    top: 340px;
    left: 0px;
    width: 1920px;
    height: 457px;
}
.footer {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: #4b5563;
    font-family: 'DM Serif Text';
}

